body{
	user-select: none;
	margin: 0;
	padding: 0;	
  font-family: 'Libre Franklin', sans-serif!important;
}

li a span.m-mobile{
  font-family: 'Libre Franklin', sans-serif!important;
  font-size: 25px;
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1;}
}

html,
body,
header,
#intro {
    height: 100%;
    user-select: none;
    background-attachment: fixed;
    font-family: 'Libre Franklin', sans-serif!important;
}

#intro {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#img-download{
  transform: scale(0.8);
  transition: 0.2s;
}

#img-download:hover{
  transform: scale(0.9);
  position: relative;
  transition: 0.2s;
  box-shadow: 2px 2px 10px grey;
}

.page-footer{
  cursor: default;
  user-select: text;
}

.top-nav-collapse {
  transition: 0.3s;
}

.nav-info{
  border-bottom: 1px solid rgb(50,50,50);
  user-select: text;
  cursor: default;
}

.nav-pills > li > a.active {
  background-color: transparent!important;
  color: rgb(255,53,71)!important;
  border: 0px!important;
  border-radius: 0%!important;
  transform: scale(1.1);
  transition: 0.3s;
  font-weight: bold;
  text-shadow: 0 0 15px rgb(255,53,71), 0 0 10px rgb(255,53,71);
}

.mobile-pills > li > a.active  {
  background-color: rgba(0,0,0,0.1)!important;
  color: #ff4444!important;
  border-left: 5px solid #ff4444!important;
  border-radius: 0%!important;
  transition: 0.3s;
  width: 100%;
  font-weight: bold;
}

.nav-link{
  color: grey;
}

.nav-link:hover{
  color: #ddd;
  transition: 0.2s;
}

#nav-logo{
  transition: 0.2s;
  transform: scale(1.3);
}

.nav-mobile {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #212121, #2E2E2E);
  overflow-x: hidden;
  transition: 0.3s;
}

.btn-menu {
  display: none;
  font-size: 40px;
}

.nav-mobile-content {
  position: relative;
  top: 10%;
  width: 100%;
  margin-top: 30px;
  transition: 0.5s;
  overflow-y: scroll!important;
}

.nav-mobile a {
  padding: 8px;
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.nav-mobile a:hover, .nav-mobile a:focus {
  color: #f1f1f1;
}

.nav-mobile .closebtn {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 60px;
}
.navbar-brand-mobile{
  display: none;
}

#services-sec{
  background: url("../img/header.png");
  background-attachment: fixed;
  background-size: cover;
}

.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
.wow{
  overflow: hidden;
}

.load{
  width: 100px;
  height: 100px;
  border: 5px solid #CC0000;
  border-top:5px solid #fff;
  border-radius: 100%;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  margin: auto;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from{
      transform: rotate(0deg);
  }to{
      transform: rotate(360deg);
  }
}

#background-load{
  height:100%;
  width:100%;
  background:#fff;
  position:fixed;
  left:0;
  top:0;
  z-index: 9999;
  overflow: hidden;
 }

/*indicators-carousel

 .indicator{
  background-color: #ddd!important;
 }

 ol li.active{
  background-color: rgb(255,53,71)!important;
 }

*/

#btn-fixed-style{
  background-color: rgb(255,53,71)!important;
  opacity: 0.5;
}

#btn-fixed-style:hover{
  opacity: 1;
}


#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #e0e0e0; 
}

::-webkit-scrollbar-thumb {
  background: #757575; 
}
::-webkit-scrollbar-thumb:hover {
  background: #616161; 
}

section{
  overflow: hidden!important;
}

#face-icon:hover{
  color: #ff4444;
  transition: 0.2s;
  transform: translateY(1px);
  text-shadow: 0 0 15px rgb(255,53,71), 0 0 10px rgb(255,53,71);
}

#insta-icon:hover{
  color: #ff4444;
  transition: 0.2s;
  transform: translateY(1px);
  text-shadow: 0 0 15px rgb(255,53,71), 0 0 10px rgb(255,53,71);
}

#whatsapp-icon:hover{
  color: #ff4444;
  transition: 0.2s;
  transform: translateY(1px);
  text-shadow: 0 0 15px rgb(255,53,71), 0 0 10px rgb(255,53,71);
}

#maps-icon:hover{
  color: #ff4444;
  transition: 0.2s;
  transform: translateY(1px);
  text-shadow: 0 0 15px rgb(255,53,71), 0 0 10px rgb(255,53,71);
}


@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: rgb(240,244,248);
  }
  .nav-lg{
    display: none;
  }
  .btn-menu{
    display: inline-block;
    float: left;
  }
  .navbar-brand{
    display: none;
  }
  .navbar-brand-mobile{
  display: block;
  }
  #img-crsel-1,#img-crsel-2,#img-crsel-3,#img-crsel-4{
    height: 200px;
  }
  .carousel-indicators{
    display: none;
  }
  .nav-link{
    font-size: 25px!important;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: rgb(240,244,248);
  }
  .nav-lg{
    display: none;
  }
  .btn-menu{
    display: inline-block;
    float: left;
  }
  .navbar-brand{
    display: none;
  }
  .navbar-brand-mobile{
  display: block;
  }
  #img-crsel-1,#img-crsel-2,#img-crsel-3,#img-crsel-4{
    height: 200px;
  }
  .carousel-indicators{
    display: none;
  }
  .nav-link{
    font-size: 25px!important;
  }
}

@media screen and (max-height: 450px) {
  .nav-mobile a {font-size: 20px}
  .nav-mobile .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  height: 100%;
  }
}

@media screen and (orientation: landscape) {
.nav-mobile {
  overflow-y: scroll!important;

}
.nav-mobile-content {
    overflow-y: scroll!important;
  }
}